<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <mat-card>
            <mat-card-content>

                <form class="mt-4" [formGroup]="voterForm" #voterNgForm="ngForm" fxFlex="100" fxLayout="column">
                    <div fxFlex="100" fxLayout="column">
                        <div class="grid grid-cols-2 gap-2 place-content-start mb-3">
                            <mat-form-field>
                                <mat-label>नाव</mat-label>
                                <input id="firstName" matInput [formControlName]="'firstName'" required
                                    appDeallowFirstSpace appRestrictSpecialCharacter>
                                <mat-error class="mb-2" *ngIf="voterForm.get('firstName').hasError('required')">
                                    प्रथम नाव आवश्यक आहे
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>वडिलांचे नाव </mat-label>
                                <input id="middleName" matInput [formControlName]="'middleName'" required
                                    appDeallowFirstSpace appRestrictSpecialCharacter>
                                <mat-error class="mb-2" *ngIf="voterForm.get('middleName').hasError('required')">
                                    वडिलांचे नाव आवश्यक आहे
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>आडनाव नाव </mat-label>
                                <input id="lastName" matInput [formControlName]="'lastName'" required
                                    appDeallowFirstSpace appRestrictSpecialCharacter>
                                <mat-error class="mb-2" *ngIf="voterForm.get('lastName').hasError('required')">
                                    आडनाव आवश्यक आहे
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>वय</mat-label>
                                <input type="number" id="age" matInput [formControlName]="'age'" required maxlength="2"
                                    minlength="2" onlyNumber appDeallowFirstSpace>
                                <mat-error class="mb-2" *ngIf="voterForm.get('age').hasError('required')">
                                    वय आवश्यक आहे
                                </mat-error>
                                <mat-error class="mb-2" *ngIf="voterForm.get('age').hasError('ageMissmatch')">
                                    मतदार पात्र नाही
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>लिंग</mat-label>
                                <mat-select id="gender" class="bg-transparent" [formControlName]="'gender'" required>
                                    <mat-option *ngFor="let gender of genders" [value]="gender.id">
                                        {{gender.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error class="mb-2" *ngIf="voterForm.get('gender').hasError('required')">
                                    लिंग आवश्यक आहे
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="grid grid-cols-2 gap-2 place-content-start mb-3">
                            <mat-form-field>
                                <mat-label>प्रभाग क्रमांक</mat-label>
                                <input type="number" id="ward" matInput [formControlName]="'ward'" required
                                    maxlength="1" minlength="1" onlyNumber appDeallowFirstSpace>
                                <mat-error class="mb-2" *ngIf="voterForm.get('ward').hasError('required')">
                                    प्रभाग क्रमांक आवश्यक आहे
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>गाव</mat-label>
                                <input id="village" matInput [formControlName]="'village'" required appDeallowFirstSpace
                                    appRestrictSpecialCharacter>
                                <mat-error class="mb-2" *ngIf="voterForm.get('village').hasError('required')">
                                    गावाचे नाव आवश्यक आहे
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>पत्ता</mat-label>
                                <textarea id="address" matInput [formControlName]="'address'" required
                                    appDeallowFirstSpace></textarea>
                                <mat-error class="mb-2" *ngIf="voterForm.get('address').hasError('required')">
                                    पूर्ण पत्ता आवश्यक आहे
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="grid grid-cols-2 gap-2 place-content-start mb-3">
                            <mat-form-field>
                                <mat-label>मोबाईल</mat-label>
                                <input id="mobile" matInput [formControlName]="'mobile'" maxlength="10" minlength="10"
                                    onlyNumber appDeallowFirstSpace>
                                <mat-error class="mb-2" *ngIf="voterForm.get('mobile').hasError('required')">
                                    मोबाईल नंबर आवश्यक आहे
                                </mat-error>
                                <mat-error class="mb-2" *ngIf="voterForm.get('mobile').hasError('minlength')">
                                    कृपया वैध 10 अंकी मोबाइल नंबर प्रविष्ट करा
                                </mat-error>
                                <mat-error class="mb-2" *ngIf="voterForm.get('mobile').hasError('maxlength')">
                                    कृपया वैध 10 अंकी मोबाइल नंबर प्रविष्ट करा
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>मतदार ओळखपत्र क्रमांक</mat-label>
                                <input id="voterId" matInput [formControlName]="'voterId'" required
                                    appDeallowFirstSpace>
                                <mat-error class="mb-2" *ngIf="voterForm.get('voterId').hasError('required')">
                                    मतदार ओळखपत्र क्रमांक आवश्यक आहे
                                </mat-error>
                                <mat-error class="mb-2" *ngIf="voterForm.get('voterId').hasError('pattern')">
                                    कृपया वैध मतदार ओळखपत्र क्रमांक प्रविष्ट करा
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>आधार क्रमांक</mat-label>
                                <input type="number" id="adharId" matInput [formControlName]="'adharId'"
                                    appDeallowFirstSpace onlyNumber>

                                <!-- <mat-error class="mb-2" *ngIf="voterForm.get('adharId').hasError('required')">
                                    आधार क्रमांक आवश्यक आहे
                                </mat-error> -->
                                <mat-error class="mb-2" *ngIf="voterForm.get('adharId').hasError('pattern')">
                                    कृपया वैध आधार क्रमांक प्रविष्ट करा
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>पॅन ओळखपत्र क्रमांक</mat-label>
                                <input id="panId" matInput [formControlName]="'panId'" appDeallowFirstSpace>
                                <!-- <mat-error class="mb-2" *ngIf="voterForm.get('panId').hasError('required')">
                                    पॅन ओळखपत्र क्रमांक आवश्यक आहे
                                </mat-error> -->
                                <mat-error class="mb-2" *ngIf="voterForm.get('panId').hasError('pattern')">
                                    कृपया वैध पॅन ओळखपत्र क्रमांक प्रविष्ट करा
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="grid grid-cols-2 gap-2 place-content-start mb-3">
                            <mat-form-field>
                                <mat-label>पक्ष</mat-label>
                                <mat-select id="partiesId" class="bg-transparent" [formControlName]="'partiesId'"
                                    required>
                                    <mat-option *ngFor="let party of parties" [value]="party.id">
                                        {{party.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error class="mb-2" *ngIf="voterForm.get('partiesId').hasError('required')">
                                    पक्ष निवड आवश्यक आहे
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>निवडणुकीसाठी मतदान</mat-label>
                                <mat-select id="votingForId" class="bg-transparent" [formControlName]="'votingForId'"
                                    required>
                                    <mat-option *ngFor="let voteFor of votingFor" [value]="voteFor.id">
                                        {{voteFor.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error class="mb-2" *ngIf="voterForm.get('votingForId').hasError('required')">
                                    निवडणुकीसाठी मतदान आवश्यक आहे
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>व्यक्ती नियुक्त करा</mat-label>
                                <mat-select id="assignedPersonId" class="bg-transparent"
                                    [formControlName]="'assignedPersonId'" required>
                                    <mat-option *ngFor="let person of assignee" [value]="person.id">
                                        {{person.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error class="mb-2" *ngIf="voterForm.get('assignedPersonId').hasError('required')">
                                    व्यक्ती नियुक्त आवश्यक आहे
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mb-3" fxLayout="row wrap">
                            <div fxFlex="100" fxLayout="row" class="mb-2" *ngIf="!readonly">
                                <button type="button" mat-stroked-button (click)="addComment()">
                                    <mat-icon>add</mat-icon> नवीन टिप्पणी जोडा
                                </button>
                            </div>

                            <div formArrayName="comments" fxFlex="100" fxLayout="column">
                                <div *ngFor="let comment of voterForm.get('comments')?.controls; let i = index"
                                    [formGroupName]="i" fxLayout="row" fxFlex="100" fxLayoutAlign="start start">

                                    <mat-form-field fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                        <input id="description" matInput [formControlName]="'description'"
                                            appDeallowFirstSpace>
                                    </mat-form-field>
                                    <div *ngIf="!readonly && (comment.id==null)" fxFlex="100" fxFlex.gt-sm="25"
                                        fxFlex.gt-md="25" fxLayoutAlign="start center" class="ml-2 self-center mb-2">
                                        <button mat-icon-button color="warn" (click)="deleteCommentItem(i)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Submit button -->
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!readonly">
                        <button class="fuse-mat-button-large mt-6" mat-flat-button [color]="'primary'"
                            [disabled]="voterForm.disabled" (click)="saveDetails()">
                            <span *ngIf="!voterForm.disabled">
                                तपशील जतन करा
                            </span>
                            <mat-progress-spinner *ngIf="voterForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>