<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">

        <div fxLayout="row wrap" fxLayoutGap="30px">
            <div>
                <input (keyup)="applyFilter($event.target.value)" placeholder="नाव/ गाव शोधा" class="mt-1 block w-full px-3 py-2  border border-slate-300 rounded-md shadow-sm placeholder-slate-400
                    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 h-14" autocomplete="off"
                    [(ngModel)]="searchedName">
            </div>

            <div>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>प्रभाग</mat-label>
                    <mat-select placeholder="प्रभाग शोधा" class="bg-transparent" [(ngModel)]="searchedWard"
                        (selectionChange)="SelectionWard($event.value)">
                        <mat-option selected>
                            None
                        </mat-option>
                        <mat-option *ngFor="let item of [1,2,3,4,5]" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>पक्षांची नावे</mat-label>
                    <mat-select placeholder="पक्षाच्या नावाने शोधा" class="bg-transparent" [(ngModel)]="searchedParty"
                        (selectionChange)="SelectionParty($event.value)">
                        <mat-option selected>
                            None
                        </mat-option>
                        <mat-option *ngFor="let party of parties" [value]="party">
                            {{party.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>नियुक्त केलेल्यांची नावे</mat-label>
                    <mat-select placeholder="नियुक्त केलेल्या नावाने शोधा" class="bg-transparent"
                        [(ngModel)]="searchedAssignedPersion"
                        (selectionChange)="SelectionAssignedPersion($event.value)">
                        <mat-option selected>
                            None
                        </mat-option>
                        <mat-option *ngFor="let user of assignee" [value]="user">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="grid grid-cols-4 flex-wrap gap-4 content-between mb-3">
            <mat-chip-list aria-label="filter selection">
                <mat-chip *ngIf="searchedName">{{searchedName}} <mat-icon aria-hidden="false" aria-label="close icon"
                        fontIcon="close" class="ml-2 text-sm cursor-pointer" (click)="searchedName=null; clearFilter()"></mat-icon>
                </mat-chip>
                <mat-chip *ngIf="searchedWard">{{searchedWard}} <mat-icon aria-hidden="false" aria-label="close icon"
                        fontIcon="close" class="ml-2 text-sm cursor-pointer" (click)="searchedWard=null; clearFilter()"></mat-icon>
                </mat-chip>
                <mat-chip *ngIf="searchedParty">{{searchedParty.name}} <mat-icon aria-hidden="false"
                        aria-label="close icon" fontIcon="close" class="ml-2 text-sm cursor-pointer" (click)="searchedParty=null; clearFilter()"></mat-icon>
                </mat-chip>
                <mat-chip *ngIf="searchedAssignedPersion">{{searchedAssignedPersion.name}} <mat-icon aria-hidden="false"
                        aria-label="close icon" fontIcon="close" class="ml-2 text-sm cursor-pointer" (click)="searchedAssignedPersion=null; clearFilter()"></mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>




        <div class="card">
            <div class="table-wrapper w-full">
                <mat-table [dataSource]="dataSource" matSort class="w-full">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> अ.क्र. </mat-header-cell>
                        <mat-cell *matCellDef="let voter; let i=index" class="text-ceter w-2/12" data-label="ID">
                            {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i +
                            this.paginator.pageIndex *
                            this.paginator.pageSize}}</mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> संपूर्ण नाव </mat-header-cell>
                        <mat-cell *matCellDef="let voter" class=" fw-500" data-label="Name">
                            {{voter.firstName}} {{voter.middleName}} {{voter.lastName}}
                        </mat-cell>
                    </ng-container>

                    <!-- Village Column -->
                    <ng-container matColumnDef="village">
                        <mat-header-cell *matHeaderCellDef> गाव </mat-header-cell>
                        <mat-cell *matCellDef="let voter" class=" fw-500" data-label="village">
                            {{voter.village}}
                        </mat-cell>
                    </ng-container>


                    <!-- Village Column -->
                    <ng-container matColumnDef="ward">
                        <mat-header-cell *matHeaderCellDef> प्रभाग </mat-header-cell>
                        <mat-cell *matCellDef="let voter" class=" fw-500" data-label="ward">
                            {{voter.ward}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="flex justify-center" data-label='Actions'>क्रिया
                        </mat-header-cell>
                        <mat-cell *matCellDef="let voter; let i = index" class="flex justify-center"
                            data-label='Actions'>
                            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="अधिक पाहण्यासाठी क्लिक करा"
                                aria-label="अधिक पाहण्यासाठी क्लिक करा">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openDetails(voter.id, 'view')">
                                    <mat-icon>visibility</mat-icon>
                                    <span>तपशील पहा</span>
                                </button>
                                <button mat-menu-item (click)="openDetails(voter.id, 'edit')">
                                    <mat-icon>autorenew</mat-icon>
                                    <span>तपशील संपादित करा</span>
                                </button>
                                <button mat-menu-item (click)="deleteRecord(voter.id, i)">
                                    <mat-icon>delete</mat-icon>
                                    <span>सूचीमधून काढा</span>
                                </button>
                            </mat-menu>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let voter; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
                <p *ngIf="dataSource?.data.length === 0 " class="py-5 mb-0 text-center">माहिती उपलब्ध नाही</p>
            </div>
            <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

        </div>
    </div>
</div>