<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <mat-card>
            <mat-card-content>

                <form class="mt-4" [formGroup]="userForm" #userNgForm="ngForm" fxFlex="100" fxLayout="column">
                    <div fxFlex="100" fxLayout="column">
                        <div class="grid grid-cols-2 gap-2 place-content-start mb-3">
                            <mat-form-field>
                                <mat-label>नाव</mat-label>
                                <input id="name" matInput [formControlName]="'name'" required appDeallowFirstSpace
                                    appRestrictSpecialCharacter>
                                <mat-error class="mb-2" *ngIf="userForm.get('name').hasError('required')">
                                    नाव आवश्यक आहे
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>मोबाईल</mat-label>
                                <input id="mobileNo" matInput [formControlName]="'mobileNo'" maxlength="10" minlength="10"
                                    onlyNumber appDeallowFirstSpace>
                                <mat-error class="mb-2" *ngIf="userForm.get('mobileNo').hasError('required')">
                                    मोबाईल नंबर आवश्यक आहे
                                </mat-error>
                                <mat-error class="mb-2" *ngIf="userForm.get('mobileNo').hasError('minlength')">
                                    कृपया वैध 10 अंकी मोबाइल नंबर प्रविष्ट करा
                                </mat-error>
                                <mat-error class="mb-2" *ngIf="userForm.get('mobileNo').hasError('maxlength')">
                                    कृपया वैध 10 अंकी मोबाइल नंबर प्रविष्ट करा
                                </mat-error>
                            </mat-form-field>


                            <mat-form-field>
                                <mat-label>भूमिका</mat-label>
                                <mat-select id="role" class="bg-transparent" [formControlName]="'role'" required>
                                    <mat-option *ngFor="let role of roles" [value]="role.id">
                                        {{role.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error class="mb-2" *ngIf="userForm.get('role').hasError('required')">
                                    भूमिका निवडणे आवश्यक आहे
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>सांकेतिक शब्द</mat-label>
                                <input id="password" matInput type="password" [formControlName]="'password'"
                                    #passwordField appDeallowFirstSpace required>
                                <button mat-icon-button type="button"
                                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                    matSuffix>
                                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                </button>
                                <mat-error class="mb-2" *ngIf="userForm.get('password').hasError('required')">
                                    सांकेतिक शब्द आवश्यक आहे
                                </mat-error>
                            </mat-form-field>

                            <div  fxLayout="column"  >
                                <mat-label>स्थिती<span [ngClass]="isSubmited && userForm.get('status').hasError('required') ? 'text-warn' : 'text-muted'">*</span></mat-label>
                                <mat-radio-group [formControlName]="'status'" required>
                                    <mat-radio-button [value]="1">सक्रिय </mat-radio-button>
                                    <mat-radio-button [value]="0" class="ml-3">निष्क्रिय</mat-radio-button>
                                </mat-radio-group>
                                <mat-error class="mb-2" *ngIf="isSubmited && userForm.get('status').hasError('required')">
                                    स्थिती निवडणे आवश्यक आहे
                                </mat-error>
                            </div>

                        </div>

                    </div>

                    <!-- Submit button -->
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!readonly">
                        <button class="fuse-mat-button-large mt-6" mat-flat-button [color]="'primary'"
                            [disabled]="userForm.disabled" (click)="saveDetails()">
                            <span *ngIf="!userForm.disabled">
                                तपशील जतन करा
                            </span>
                            <mat-progress-spinner *ngIf="userForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>